<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
    <context:property-placeholder location="classpath:config.properties,job/*.properties" />

    <bean id="elasticJobLog" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.jdbc.url}"/>
        <property name="username" value="${jdbc.jdbc.user}"/>
        <property name="password" value="${jdbc.jdbc.password}"/>
    </bean>

    <reg:zookeeper id="regCenter" server-lists="${serverLists}" namespace="${namespace}" base-sleep-time-milliseconds="${baseSleepTimeMilliseconds}" max-sleep-time-milliseconds="${maxSleepTimeMilliseconds}" max-retries="${maxRetries}" />

    <job:simple id="helloxJob" class="${simple.1.class}"
                registry-center-ref="regCenter"
                sharding-total-count="${simple.1.shardingTotalCount}"
                cron="${simple.1.cron}"
                sharding-item-parameters="${simple.1.shardingItemParameters}"
                monitor-execution="${simple.1.monitorExecution}"
                failover="${simple.1.failover}"
                description="${simple.1.description}"
                disabled="${simple.1.disabled}"
                overwrite="${simple.1.overwrite}"
                event-trace-rdb-data-source="elasticJobLog" >
        <job:listener class="org.windwant.elasticjob.listener.HelloJobListener"/>
    </job:simple>

    <job:dataflow id="helloDataFlowJob"
                  class="${dataflow.1.class}"
                  registry-center-ref="regCenter"
                  sharding-total-count="${dataflow.1.shardingTotalCount}"
                  cron="${dataflow.1.cron}"
                  sharding-item-parameters="${dataflow.1.shardingItemParameters}"
                  monitor-execution="${dataflow.1.monitorExecution}"
                  failover="${dataflow.1.failover}"
                  max-time-diff-seconds="${dataflow.1.maxTimeDiffSeconds}"
                  streaming-process="${dataflow.1.streamingProcess}"
                  description="${dataflow.1.description}"
                  disabled="${dataflow.1.disabled}"
                  overwrite="${dataflow.1.overwrite}" >
        <job:listener class="org.windwant.elasticjob.listener.HelloJobListener"/>
    </job:dataflow>

    <!-- use absolute path to run script job -->
    <!--<job:script id="${script.id}" registry-center-ref="regCenter" script-command-line="${script.scriptCommandLine}" sharding-total-count="${script.shardingTotalCount}" cron="${script.cron}" sharding-item-parameters="${script.shardingItemParameters}" description="${script.description}" overwrite="${script.overwrite}" />-->
</beans>